html {
    background-color: #fff;
    font-family: "futura-pt", "hiragino sans", sans-serif;
    color: #333;
    font-size: 16px;
    text-align: start;
    font-style: normal;
    font-weight: 300;
    line-height: 167%;
}

h1 {
    padding-top: 1.8rem;
    padding-bottom: 1rem;
    color: #33A6BB;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
}

p{
    color: #999;
}

a {
    text-decoration: none;
    color: #999;
    border-bottom: dashed 1px #999;
}

a:visited {
    color: #999;
}

a:hover {
    color: #33A6BB;
}

h3 {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 50%;
}

.icon-container {
    display: flex;
    /* Flexboxを有効化 */
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* アイコンとテキストの間に余白を追加 */
}

.icon {
    width: 25%;
    max-width: 165px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    /* サイズが縮まないようにする */
    overflow: hidden;
    border-radius: 15%;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像を1:1で切り抜き */
}

.pub {
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    justify-content: center;
    padding: 0 2.5%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 横3列 */
    gap: 5px;
    /* グリッド間の間隔 */
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    /* 水平方向に中央揃え */
    justify-content: center;
    /* グリッドアイテムを水平方向に中央揃え */
    align-content: center;
    /* グリッドアイテムを垂直方向に中央揃え */
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2列に切り替え */
    }

    html {
        font-size: 13px;
    }
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 66.67%;
    /* 縦横比を3:2に保つ */
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像を領域内でカバー */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.8rem;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明の黒背景 */
    opacity: 0;
    /* 初期状態では非表示 */
    transition: opacity 0.3s ease-in-out;
    /* フェードイン/アウト効果 */
    display: flex;
    justify-content: end;
    align-items: center;
}

.overlay .caption {
    padding-right: .6rem;
    font-family: "futura-pt";
    color: #fff;
    font-size: .9rem;
    line-height: 100%;
}

.image-container:hover .overlay {
    opacity: 1;
    /* ホバー時に表示 */
}

.copy-right {
    text-align: center;
    color: #999;
    margin-top: 1.8rem;
}

span.aks {
    /* 改行位置制御*/
    display: inline-block;
}

ol {
  list-style-type: none;
  counter-reset: list-counter 2;
  padding-left: 0;
}

li {
  display: flex;
  align-items: baseline;
  margin-bottom: .6rem;
  counter-increment: list-counter -1;
}

li::before {
  content: "[" counter(list-counter) "] ";
  font-weight: bold;
  margin-right: .5rem;
  flex-shrink: 0;
}

.badge {
    font-weight: 400;
    display: inline-flex;
    align-items: center; 
    background-color: #33A6BB;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: .9rem;
    line-height: 1.2;
    height: fit-content;
}

