table {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

table th,
table td {
    padding: 8px;
    text-align: center;
}

table th {
    border-bottom: 1px solid #000;
}

table th:first-child {
    text-align: left;
}

table td:first-child {
    text-align: left;
}

#map {
    width: 100%;
    height: 500px;
    position: relative;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.checkbox-container label {
    margin: 0 10px;
}

/* 各ステータスに対応する色を設定 */
.Lived {
    fill: #ff69b4;
}

.Stayed {
    fill: #ff4500;
}

.Visited {
    fill: #dddd00;
}

.Landed {
    fill: #00ee00;
}

.Passed {
    fill: #1111ee;
}

.NotVisited {
    fill: #fff;
}